@model D72TP1P3.Models.DataModels.Role


<div class="col-lg-2 col-md-2 col-sm-3 col-4 mb-4">
    <div style="background-color:orange" class="card">
        <img class="card-img-top mx-auto rounded role-img"  src="@Model.Actor.Image" alt="S@(Model.Actor.Name)">
        <div class="card-body text-center">
            <h5 class="card-title small">@(Model.Character)</h5>
        </div>
    </div>
</div>