
@{
    ViewBag.Title = "Index";
}
<div style="padding-top:30px"></div>
<h2 class="page-header">Welcome to Crunchyroll Dollorama</h2>
<div style="padding-top:30px"></div>
<div>
    <div>
        <img src="~/Content/Media/Home/crunchyroll.png"/>
    </div>
</div>

